
.main-container {
//   border: 1px solid red;
  width: 80vw;
  height: 100vh;
  margin-left: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-box {
//   border: 1px solid rgb(0, 250, 0);
  width: 35vw;
  height: 70vh;
}
.cube-box {
//   border: 1px solid rgb(0, 8, 255);
  width: 35vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-text-about {
  // color: #fff;
  color: #009300;
  font-size: 53px;
  margin: 0;
  font-family: Coolvetica;
  font-weight: 400;
}

.animation-text-about::before {
  content: '<h1>';
  font-family: La Belle Aurore;
  color:  #009300;
  font-size: 18px;
  margin-top: -15px;
  position: absolute;
  left: 180px;
  animation: fadeIn 0.5s 0.5s backwards;
}
.animation-text-about::after {
  content: '<h1/>';
  font-family: 'La Belle Aurore';
  color:  #009300;
  font-size: 18px;
  position: absolute;
  margin-top: 80px;
  margin-left: -225px;
  animation: fadeIn 0.5s 0.5s backwards;


}

.info-text{
    color: rgba(255, 255, 255, 0.817);
    margin-top: 20px;
    font-weight: 400;
    animation: fadeIn 0.5s 0.5s backwards;

}

.animation-text-skill{
color: #009300;
font-size: 53px;
font-family: Coolvetica;
font-weight: 400;
margin-top: 30px;
padding-bottom: 20px;

}

.animation-text-skill::before {
    content: '<h2>';
    font-family: La Belle Aurore;
    color:  #009300;
    font-size: 18px;
    margin-top: -15px;
    position: absolute;
    left: 180px;
    animation: fadeIn 0.5s 0.5s backwards;

  }
  .animation-text-skill::after {
    content: '<h2/>';
    font-family: 'La Belle Aurore';
    color:  #009300;
    font-size: 18px;
    position: absolute;
    margin-top: 50px;
    margin-left: -125px;
    animation: fadeIn 0.5s 0.5s backwards;

  
  }

  .skill-text{
    border: 1px solid rgba(255, 255, 255, 0.119);
    margin-left: 5px;
    background: #ffffff28;
    font-weight: 400;
}
.skill-text:hover{
    background: #3700ff49;
}
// -----------cube----------
// -----------cube----------

    .cube-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.cube-contener{
    height: 200px;
    width: 200px;
    animation: fadeIn 0.5s 0.5s backwards;

}

.cubespinner{
    animation: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(244, 244, 244, 0.4);
        background: transparent;
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px 0px lightgreen;
    }

    .face1{
        transform: translateZ(100px);
    }
    .face2{
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(100px);
    }
}
@keyframes spincube {
    from,
    to{
        transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    60%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateY(90deg);
    }
}