.animation-text-contact {
  // color: #fff;
  color: #009300;
  font-size: 53px;
  margin: 0;
  font-family: Coolvetica;
  font-weight: 400;
}

.animation-text-contact::before {
  content: '<h1>';
  font-family: La Belle Aurore;
  color:  #009300;
  font-size: 18px;
  margin-top: -15px;
  position: absolute;
  left: 150px;
  animation: fadeIn 0.5s 0.5s backwards;
}
.animation-text-contact::after {
  content: '<h1/>';
  font-family: 'La Belle Aurore';
  color:  #009300;
  font-size: 18px;
  position: absolute;
  margin-top: 80px;
  margin-left: -270px;
  animation: fadeIn 0.5s 0.5s backwards;
}

.text-zone-contac{
  width: 30vw;
  margin-left: 10vw;
  margin-top: 20vh;
  animation: fadeIn 0.8s 0.8s backwards;
}
.info-text{
  color: rgba(255, 255, 255, 0.726);
  margin-top: 20px;
  font-weight: 400;
}
.call_number{
  border: 1px solid rgba(255, 255, 255, 0.119);
  margin-left: 5px;
  background: #ffffff28;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.call_number:hover{
  background: #3700ff49;
}

.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #009300;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #009300;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }

  .flat-button:hover{
    border: 1px solid #00ff00;
    color: #00ff00;
  }
}


@media (max-width: 768px) {
  .contact-container{
    width: 75vw;
    height: auto;
    margin-left: 20%;
    margin-top: 20%;
  }
  .text-zone-contac{
    width: 100%;
    margin: 0;
  }
  .animation-text-contact{
    font-size: 40px;
  }
  .animation-text-contact::before {
    margin-top: -15px;
    position: absolute;
    left: 70px;
  }
  .animation-text-contact::after {
    position: absolute;
    margin-top: 60px;
    margin-left: -210px;

  }

}